<div class="state-light" style={{stateColor}}>{{fa-icon "circle" size=1}}</div>
<span class="state-name" style={{textColor}}>{{text}} {{currentState}}</span>
{{#bs-button icon="fa {{buttonIcon}}" disabled=disabled onClick=(action "click") }}{{buttonText}}{{/bs-button}}