<div class="row">
	<div class="col-sm-4 info">
		<div class="title">
			{{title}}
		</div>
		<div class="description">
			{{value}}/{{maximum}} {{measure}}
		</div>
		<div class="content">
			{{percentile}}%
		</div>
	</div>
	<div class="col-sm-4 state" style={{color}}>
	</div>
</div>
