<div class="container-fluid home-page">

	{{
		home/connection-manager 
		connected=model.pEngine.connected 
		refreshRate=model.pEngine.refreshRate
		disconnect="disconnect" 
		connect="connect"
	}}

	<div class="row">

		<div class="col-sm-4 left-sidebar">

			<div class="left-sidebar-content">

				<div class="command-section">
					<h5>Commands</h5>
					<small>You can change the engine state in this section.</small>

					<div class="commands">

						{{
							home/state-button 
							currentState=model.engineState.state
							disabled=model.engineState.disabled
							buttonText=model.engineState.buttonText
							stateColor=model.engineState.color
							textColor=model.engineState.textColor
							onClick="closeEngine"
						}}

						{{
							home/state-button 
							currentState=model.inputLoopState.state
							disabled=model.inputLoopState.disabled
							buttonText=model.inputLoopState.buttonText
							stateColor=model.inputLoopState.color
							textColor=model.inputLoopState.textColor
							onClick="pauseInput"
						}}

						{{
							home/state-button 
							currentState=model.physicsLoopState.state
							disabled=model.physicsLoopState.disabled
							buttonText=model.physicsLoopState.buttonText
							stateColor=model.physicsLoopState.color
							textColor=model.physicsLoopState.textColor
							onClick="pausePhysics"
						}}

						{{
							home/state-button 
							currentState=model.graphicsLoopState.state
							disabled=model.graphicsLoopState.disabled
							buttonText=model.graphicsLoopState.buttonText 
							stateColor=model.graphicsLoopState.color
							textColor=model.graphicsLoopState.textColor
							onClick="pauseGraphics"
						}}

					</div>
				</div>

				<div class="stats">
					<table class="table table-sm">
						<thead>
							<tr>
								<th colspan="2">Informations</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Game name</th>
								<td>WaveDash</td>
							</tr>
							<tr>
								<th scope="row">Engine version</th>
								<td colspan="2">1.0.2</td>
							</tr>
							<tr>
								<th scope="row">Runtime mode</th>
								<td>Debug</td>
							</tr>
							<tr>
								<th scope="row">Running threads</th>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="stats">
					<table class="table table-sm">
						<thead>
							<tr>
								<th colspan="2">System informations</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Platform</th>
								<td>Windows 10</td>
							</tr>
							<tr>
								<th scope="row">Motherboard</th>
								<td>Asus P8P67 M-PRO rev</td>
							</tr>
							<tr>
								<th scope="row">CPU</th>
								<td colspan="2">intel i7 2600k 4.1ghz</td>
							</tr>
							<tr>
								<th scope="row">RAM</th>
								<td>16gb 2600mhz</td>
							</tr>
							<tr>
								<th scope="row">GPU</th>
								<td>Nvidia GTX970 XFX</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="stats">
					<table class="table table-sm">
						<thead>
							<tr>
								<th colspan="2">Video informations</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Graphics card</th>
								<td>Nvidia GTX970 XFX</td>
							</tr>
							<tr>
								<th scope="row">Vendor</th>
								<td>Nvidia</td>
							</tr>
							<tr>
								<th scope="row">OpenGL version</th>
								<td colspan="2">4.2 Core</td>
							</tr>
							<tr>
								<th scope="row">Monitors</th>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>

		<div class="col-sm-4 content">

			<div class="title">
				<h4>Graphics loop</h4>
				<small>You can change the engine state in this section.</small>
			</div>
			
			{{
				ember-chart 
				type="line" 
				options=model.graphicsChart.settings 
				data=model.graphicsChart.data 
				height=200
			}}

			<br><br>

			<div class="title">
				<h4>Graphics loop</h4>
				<small>You can change the engine state in this section.</small>
			</div>
			
			{{
				ember-chart 
				type="line" 
				options=model.graphicsChart.settings 
				data=model.graphicsChart.data 
				height=200
			}}


		</div>

	</div>

</div>